export APP_ENV=development
export HTTP_PORT=3000
export PATH="$HOME/.bin/go_appengine:$PATH"
export GOPATH="$HOME/.bin/go_appengine/gopath"
export GOROOT="$HOME/.bin/go_appengine/goroot"
alias go="goapp"
