[Unit]
Description=BSD Presence
BindsTo=bike-share-directions@%i.service
After=bike-share-directions@%i.service
After=etcd.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set /vulcand/backends/b1/backend '{ "Type": "http" }'
ExecStartPre=/usr/bin/etcdctl set /vulcand/frontends/f1/frontend '{ "Type": "http", "BackendId": "b1", "Route": "PathRegexp(`/.*`)" }'
ExecStart=/bin/sh -c "while true; do etcdctl set /vulcand/backends/b1/servers/%m '{ \"URL\": \"http://${COREOS_PUBLIC_IPV4}:6080\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/b1/servers/%m

[X-Fleet]
MachineOf=bike-share-directions@%i.service
