[Unit]
Description=Vulcan Proxy
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill vulcan
ExecStartPre=-/usr/bin/docker rm vulcan
ExecStartPre=/usr/bin/docker pull mailgun/vulcand:v0.8.0-beta.3
ExecStart=/usr/bin/docker run --name vulcan -p 80:80 -p 8182:8182 mailgun/vulcand:v0.8.0-beta.3 /go/bin/vulcand -apiInterface=0.0.0.0 -interface=0.0.0.0 --etcd=http://172.17.42.1:4001 -port=80 -apiPort=8182
ExecStop=/usr/bin/docker stop vulcan
